## Importación CSV y validación datos

In [2]:
import pandas as pd

df = pd.read_csv("../data/raw/nba_stats_raw.csv")

df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97

In [3]:
df.columns

Index(['Unnamed: 0', 'player_name', 'team_abbreviation', 'age',
       'player_height', 'player_weight', 'college', 'country', 'draft_year',
       'draft_round', 'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating',
       'oreb_pct', 'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

### Inspección rápida

In [4]:
df.shape

(12844, 22)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12844 entries, 0 to 12843
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         12844 non-null  int64
 1   player_name        12844 non-null  object
 2   team_abbreviation  12844 non-null  object
 3   age                12844 non-null  float64
 4   player_height      12844 non-null  float64
 5   player_weight      12844 non-null  float64
 6   college            10990 non-null  object
 7   country            12844 non-null  object
 8   draft_year         12844 non-null  object
 9   draft_round        12844 non-null  object
 10  draft_number       12844 non-null  object
 11  gp                 12844 non-null  int64
 12  pts                12844 non-null  float64
 13  reb                12844 non-null  float64
 14  ast                12844 non-null  float64
 15  net_rating         12844 non-null  float64
 16  oreb_pct           12844 non-null  float64
 17  dreb_pct           12844 non-null  float64
 18  usg_pct            12844 non-null  float64
 19  ts_pct             12844 non-null  float64
 20  ast_pct            12844 non-null  float64
 21  season             12844 non-null  object
dtypes: float64(12), int64(2), object(8)
memory usage: 2.2+ MB

In [6]:
df.isnull().sum().sort_values(ascending=False)

college              1854
Unnamed: 0              0
pts                     0
ast_pct                 0
ts_pct                  0
usg_pct                 0
dreb_pct                0
oreb_pct                0
net_rating              0
ast                     0
reb                     0
gp                      0
player_name             0
draft_number            0
draft_round             0
draft_year              0
country                 0
player_weight           0
player_height           0
age                     0
team_abbreviation       0
season                  0
dtype: int64

In [7]:
df['season'].value_counts().sort_index()

season
1996-97    441
1997-98    439
1998-99    439
1999-00    438
2000-01    441
2001-02    440
2002-03    428
2003-04    442
2004-05    464
2005-06    458
2006-07    458
2007-08    451
2008-09    445
2009-10    442
2010-11    452
2011-12    478
2012-13    469
2013-14    482
2014-15    492
2015-16    476
2016-17    486
2017-18    540
2018-19    530
2019-20    529
2020-21    540
2021-22    605
2022-23    539
Name: count, dtype: int64

### Creación del target

In [ ]:
# Orden temporal por jugador

df = df.sort_values(by=["player_name", "season"])
df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
419,419,A.C. Green,DAL,33.0,205.74,102.0582,Oregon State,USA,1985,1,...,7.2,7.9,0.8,-8.0,0.100,0.207,0.119,0.523,0.045,1996-97
667,667,A.C. Green,DAL,34.0,205.74,102.0582,Oregon State,USA,1985,1,...,7.3,8.1,1.5,-7.2,0.090,0.196,0.118,0.496,0.074,1997-98
1006,1006,A.C. Green,DAL,35.0,205.74,102.0582,Oregon State,USA,1985,1,...,4.9,4.6,0.5,-5.6,0.097,0.179,0.148,0.441,0.043,1998-99
1626,1626,A.C. Green,LAL,36.0,205.74,102.0582,Oregon State,USA,1985,1,...,5.0,5.9,1.0,8.1,0.089,0.179,0.111,0.482,0.058,1999-00
1971,1971,A.C. Green,MIA,37.0,205.74,102.0582,Oregon State,USA,1985,1,...,4.5,3.8,0.5,3.3,0.089,0.171,0.141,0.492,0.050,2000-01

In [ ]:
# Convertir temporada a año inicial (ej: "2016-17" -> 2016)

df["season_start"] = df["season"].str[:4].astype(int)

In [ ]:
# Target: puntos por partido en la siguiente temporada

df["pts_next_season"] = df.groupby("player_name")["pts"].shift(-1)

In [ ]:
# Quitamos filas sin siguiente temporada (no se puede predecir)

df = df.dropna(subset=["pts_next_season"])

In [12]:
df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,season_start,pts_next_season
419,419,A.C. Green,DAL,33.0,205.74,102.05820,Oregon State,USA,1985,1,...,0.8,-8.0,0.100,0.207,0.119,0.523,0.045,1996-97,1996,7.3
667,667,A.C. Green,DAL,34.0,205.74,102.05820,Oregon State,USA,1985,1,...,1.5,-7.2,0.090,0.196,0.118,0.496,0.074,1997-98,1997,4.9
1006,1006,A.C. Green,DAL,35.0,205.74,102.05820,Oregon State,USA,1985,1,...,0.5,-5.6,0.097,0.179,0.148,0.441,0.043,1998-99,1998,5.0
1626,1626,A.C. Green,LAL,36.0,205.74,102.05820,Oregon State,USA,1985,1,...,1.0,8.1,0.089,0.179,0.111,0.482,0.058,1999-00,1999,4.5
1970,1970,A.J. Guyton,CHI,23.0,185.42,81.64656,Indiana,USA,2000,2,...,1.9,-12.4,0.018,0.053,0.169,0.495,0.198,2000-01,2000,5.4

In [13]:
df.tail()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,season_start,pts_next_season
4653,4653,Zydrunas Ilgauskas,CLE,32.0,220.98,117.93392,NaN,Lithuania,1996,1,...,1.6,4.6,0.128,0.204,0.218,0.527,0.099,2006-07,2006,14.1
4958,4958,Zydrunas Ilgauskas,CLE,33.0,220.98,117.93392,NaN,Lithuania,1996,1,...,1.4,0.7,0.132,0.217,0.229,0.522,0.082,2007-08,2007,12.9
5575,5575,Zydrunas Ilgauskas,CLE,34.0,220.98,117.93392,NaN,Lithuania,1996,1,...,1.0,14.8,0.109,0.212,0.237,0.523,0.060,2008-09,2008,7.4
6212,6212,Zydrunas Ilgauskas,CLE,35.0,220.98,117.93392,NaN,Lithuania,1996,1,...,0.8,7.9,0.107,0.197,0.189,0.491,0.058,2009-10,2009,5.0
11030,11030,Zylan Cheatham,NOP,24.0,195.58,99.79024,Arizona State,USA,Undrafted,Undrafted,...,0.8,-23.9,0.062,0.128,0.103,0.667,0.094,2019-20,2019,0.0

In [14]:
df.sample(5)

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,season_start,pts_next_season
4309,4309,Adrian Griffin,DAL,31.0,195.58,104.326160,Seton Hall,USA,Undrafted,Undrafted,...,1.7,9.1,0.075,0.148,0.101,0.521,0.107,2005-06,2005,2.5
8556,8556,Iman Shumpert,CLE,25.0,195.58,99.790240,Georgia Tech,USA,2011,1,...,2.2,2.6,0.042,0.122,0.176,0.497,0.137,2014-15,2014,5.8
4035,4035,Vitaly Potapenko,SAC,31.0,208.28,129.273720,Wright State,Ukraine,1996,1,...,0.3,-9.0,0.089,0.152,0.125,0.535,0.041,2005-06,2005,0.0
3084,3084,Caron Butler,MIA,24.0,200.66,98.429464,Connecticut,USA,2002,1,...,1.9,1.9,0.052,0.138,0.185,0.440,0.106,2003-04,2003,15.5
4029,4029,Shaun Livingston,LAC,20.0,200.66,82.553744,NaN,USA,2004,1,...,4.5,-0.3,0.032,0.105,0.150,0.460,0.283,2005-06,2005,9.3

In [15]:
df[["player_name","season","pts","pts_next_season"]].head(20)

       player_name   season   pts  pts_next_season
419     A.C. Green  1996-97   7.2              7.3
667     A.C. Green  1997-98   7.3              4.9
1006    A.C. Green  1998-99   4.9              5.0
1626    A.C. Green  1999-00   5.0              4.5
1970   A.J. Guyton  2000-01   6.0              5.4
2613   A.J. Guyton  2001-02   5.4              0.0
5931      AJ Price  2009-10   7.3              6.5
6664      AJ Price  2010-11   6.5              3.9
6679      AJ Price  2011-12   3.9              7.7
7226      AJ Price  2012-13   7.7              1.6
8090      AJ Price  2013-14   1.6              5.1
5033  Aaron Brooks  2007-08   5.2             11.2
5754  Aaron Brooks  2008-09  11.2             19.6
5932  Aaron Brooks  2009-10  19.6             10.7
6665  Aaron Brooks  2010-11  10.7              7.1
7157  Aaron Brooks  2012-13   7.1              9.0
8091  Aaron Brooks  2013-14   9.0             11.6
8332  Aaron Brooks  2014-15  11.6              7.1
8749  Aaron Brooks  2015-16   7.1              5.0
9404  Aaron Brooks  2016-17   5.0              2.3

### Guardado

In [16]:
df.to_csv("../data/processed/nba_clean_with_target.csv", index=False)